/* Project */

.portfolio {
  width: 80vw !important;
  max-width: 1200px !important;
}

.portfolio * {
  color: #282828;
}

.portfolio a {
  text-decoration: none;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  width: 100%;
  margin: auto;
}

.content,
.image {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  max-height: 400px;
}

.image img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 10px;
}

.project p {
  line-height: 1.8;
}

.left .content,
.right .image {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  text-align: left;
  justify-items: left;
}

.left .image,
.right .content {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  text-align: right;
  justify-items: right;
}

.left h3,
.left a {
  align-self: first baseline;
}

.right h3,
.right a {
  align-self: last baseline;
}

.button {
  text-align: center;
  margin-top: 20px;
  height: auto;
  padding: 10px;
  width: 100px;
  color: rgb(255, 255, 255);
  box-shadow: -3px 5px 5px rgba(31, 31, 31, 0.2);
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  filter: contrast(1.2);
}

.button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

/* Responsive */

@media only screen and (max-width: 900px) {
  .project {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    margin: 20px;
  }

  .project .content,
  .project .image {
    order: 1;
    width: 90%;
    margin: 20px;
    align-items: center;
  }

  .project h3,
  .project a {
    align-self: center;
  }

  .portfolio {
    margin-bottom: 400px;
  }
}
